button {
    margin: 8px;
    padding: 8px 24px;
    border-radius: 4px; 
    font-weight: 595; 
    background-color: #3f9e42 !important;
    color: white !important;
    
    &:hover {
        background-color: #45a049 !important;
    }
    
    &:disabled {
        background-color: rgba(76, 175, 80, 0.5) !important;
        color: rgba(255, 255, 255, 0.5) !important;
    }
}